.dashboard-page-wrapper {
	padding: 50px;
}

.left-side {
	display:inline-block;
	width:45%;
	margin-top: 100px;
    text-align: center;
}

.right-side {
	width: 45%;
    text-align: center;
	display:inline-block;
}

.right-side img {
	width: 60%;
}

h2 {
	text-align: center;
}

#ns-logo {
	width: 200px;
}